<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 모바일웹 화면 핀치 강제차단 -->
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" >
    <meta name="HandheldFriendly" content="true">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <!-- 파일로 저장하기 -->
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
    <title>Document</title>
    <style>
        /* #video-grid{
            display: grid;
            grid-template-columns: repeat(auto-fill, 300px);
            grid-template-rows: 300px;
        } */
        /* video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        } */
        html{ /* 모바일웹 화면 핀치 강제차단 */
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
        }
        html, body {
            margin: 0px;
            padding: 0px;
        }
        video{         
            transform: rotateY(180deg);         
            -webkit-transform:rotateY(180deg); /* Safari and Chrome */         
            -moz-transform:rotateY(180deg); /* Firefox */     
        }
        #localVideo{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        #remoteVideo{
            /*position: -webkit-sticky; /* Safari */
            margin: 0 auto;
            position: absolute;
            object-fit: cover;
            /* max-width: 20%; */
            /* max-height: 20%; */
            width: 150px;
            height: 150px;
            margin: 15px;
            right: 0px;
            background-color: rgb(0, 0, 0);
            border: 2px solid #000000;
            border-radius: 16px;
        }
        /* #remoteVideo:hover { 
            transform: scale(30px); 
            object-fit: none;
            width: 23%;
            height: 33%;
        } */
    </style>
</head>
<body>
    <div id="video-grid">
        <video id="localVideo" muted playsinline></video>
        <video id="remoteVideo" playsinline></video>    
    </div>
</body>

</html>